# Composer dependencies
/vendor/

# SQLite database
/data/*.db
/data/mail.log

# Other data
/crontab.txt

# IDE/editor files
*.log
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/
.archive/

# OS-specific junk
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment/config
.env
config.php

# misc
tmp/
public_html/error_log
